.card {
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 1.5rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: transform 0.2s ease, border-color 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  border-color: var(--hover-color);
}

.title {
  color: var(--text-main);
  margin: 0;
  font-size: 1.4rem;
}

.description {
  color: var(--text-muted);
  font-size: 0.95rem;
  line-height: 1.5;
  margin: 0;
  flex-grow: 1; /* Empurra o botão para o final */
}

.tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tag {
  background-color: var(--border-color);
  color: var(--text-muted);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: bold;
}

.button {
  color: var(--bg-color);
  background-color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
  border-radius: 6px;
  margin-top: auto;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.8;
}